[submodule "c/snowhouse"]
	path = c/snowhouse
	url = https://github.com/banditcpp/snowhouse
	branch = headers-only
[submodule "c/googletest"]
	path = c/googletest
	url = git@github.com:google/googletest.git
